<ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{ appInfo.title }}">
    <router-outlet></router-outlet>
    <footer class="footer-wrapper">
      Copyright © {{ appInfo.currentYear }} {{ appInfo.title }}
      <br />
      All trademarks or registered trademarks are property of their respective
      owners.
    </footer>
  </app-side-nav-outer-toolbar>
</ng-container>

<ng-template #unauthenticated>
  <div class="unauthenticated-content">
    <app-single-card
      [title]="unauthenticatedTitle"
      [description]="unauthenticatedDescription"
    >
      <router-outlet></router-outlet>
    </app-single-card>
  </div>
</ng-template>
