<h2 class="content-block">Tasks</h2>

<dx-data-grid
  class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  keyExpr="id"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>

  <dxi-column dataField="name" caption="Name" [hidingPriority]="5">
  </dxi-column>
  <dxi-column
    dataField="courseAbbreviation"
    caption="Abbreviation"
    [hidingPriority]="4"
  >
  </dxi-column>
  <dxi-column
    dataField="createdAt"
    caption="Created At"
    dataType="date"
    [hidingPriority]="3"
  >
  </dxi-column>
  <dxi-column dataField="createdBy" caption="Created By" [hidingPriority]="1">
  </dxi-column>
  <dxi-column
    dataField="modifiedAt"
    caption="Modified At"
    dataType="date"
    [hidingPriority]="2"
  >
  </dxi-column>
  <dxi-column dataField="modifiedBy" caption="Modified By" [hidingPriority]="0">
  </dxi-column>
</dx-data-grid>
