.form-wrapper {
  margin-top: 30px;
  display: flex;
}

form {
  width: 100%
}


.header {
  margin-top: 20px;
}

.save-button {
  background-color: rgb(242, 242, 242);
}

.spinner-wrapper {
  margin-top: 5rem;
  position: absolute;
  width: 92%;
  display: flex;
  justify-content: center;
}

.accordion-spinner-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.back-button-row {
  display: flex;
  justify-content: flex-end;
}

.accordion {
  margin-top: 2rem;
}

.data-grid-wrapper {
  padding: 0;
}

.own-comments {
  float: right;
}

.new-comment {
  margin-bottom: 15px;
}

.comments {
  margin: 15px 0;
  display: flex;
  width: 65%;

  // Large and XLarge
  @media (min-width: 1280px) {
    width: 65%;
  }
  // Medium
  @media (min-width: 960px) and (max-width: 1279.98px) {
    width: 75%;
  }
  // Small
  @media (max-width: 959.98px) {
    width: 80%;
  }
}