<h2 class="header content">{{ title }}</h2>
<div class="content back-button-row">
  <dx-button
    stylingMode="contained"
    text="Go Back"
    type="normal"
    (onClick)="navigateBack()"
  >
  </dx-button>
</div>
<div *ngIf="dataLoading" class="spinner-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</div>
<div class="form-wrapper content">
  <form (submit)="onSubmit($event)">
    <dx-form
      [(formData)]="ticket"
      labelMode="floating"
      colCount="1"
      [disabled]="dataLoading"
    >
      <dxi-item dataField="title">
        <dxi-validation-rule
          type="required"
          message="Title is required"
        ></dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="courseId"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: courses,
          searchEnabled: true,
          displayExpr: getCourseDisplay,
          valueExpr: 'id'
        }"
        ><dxi-validation-rule
          type="required"
          message="Course is required"
        ></dxi-validation-rule
      ></dxi-item>
      <dxi-item
        dataField="type"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: types
        }"
        ><dxi-validation-rule
          type="required"
          message="Type is required"
        ></dxi-validation-rule
      ></dxi-item>
      <dxi-item
        dataField="description"
        editorType="dxTextArea"
        [editorOptions]="{ height: 90 }"
      >
        <dxi-validation-rule
          type="required"
          message="Description is required"
        ></dxi-validation-rule
      ></dxi-item>
      <dxi-item
        dataField="status"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: statuses,
          disabled: isCreating || !isAdminOrEditor
        }"
      ></dxi-item>
      <dxi-item
        dataField="priority"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: priorities,
          disabled: isCreating || !isAdminOrEditor
        }"
      ></dxi-item>
      <dxi-item
        *ngIf="editors.length > 0"
        dataField="assigneeId"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: editors,
          searchEnabled: true,
          displayExpr: getAssigneeDisplay,
          valueExpr: 'id',
          disabled: isCreating || !isAdminOrEditor
        }"
        ><dxo-label text="Assignee"></dxo-label
      ></dxi-item>
      <dxi-item
        *ngIf="editors.length === 0"
        dataField="assigneeName"
        [editorOptions]="{
          disabled: isCreating || !isAdminOrEditor
        }"
      >
        <dxo-label text="Assignee"></dxo-label>
      </dxi-item>
      <dxi-item itemType="group" [colCount]="2" caption="Metadata">
        <dxi-item dataField="createdBy" disabled="true"></dxi-item>
        <dxi-item
          dataField="createdAt"
          disabled="true"
          [editorOptions]="{
            displayFormat: 'dd/MM/yyyy HH:mm:ss'
          }"
        ></dxi-item>
        <dxi-item dataField="modifiedBy" disabled="true"></dxi-item>
        <dxi-item
          dataField="modifiedAt"
          disabled="true"
          [editorOptions]="{
            displayFormat: 'dd/MM/yyyy HH:mm:ss'
          }"
        ></dxi-item>
      </dxi-item>
      <dxi-item itemType="button">
        <dxo-button-options
          width="20%"
          type="default"
          [useSubmitBehavior]="true"
          [template]="'submitTemplate'"
          [disabled]="loading"
        >
        </dxo-button-options>
      </dxi-item>

      <ng-container *dxTemplate="let item of 'submitTemplate'">
        <div>
          <span class="dx-button-text">
            <ng-container *ngIf="loading; else notLoading">
              <dx-load-indicator
                width="24px"
                height="24px"
                [visible]="true"
              ></dx-load-indicator>
            </ng-container>
            <ng-template #notLoading>Save</ng-template>
          </span>
        </div>
      </ng-container>
    </dx-form>
  </form>
</div>

<dx-accordion
  class="content accordion"
  [collapsible]="true"
  [animationDuration]="300"
  [selectedIndex]="-1"
  [disabled]="isCreating"
>
  <dxi-item title="Comments">
    <dx-text-box
      [(value)]="newComment"
      class="new-comment"
      label="Write a new comment..."
    >
      <dxi-button
        name="comment"
        location="after"
        [options]="{
          icon: 'comment',
          stylingMode: 'text',
          hint: 'Add new comment',
          onClick: onAddCommentClick
        }"
      ></dxi-button>
    </dx-text-box>
    <div *ngIf="commentsLoading" class="accordion-spinner-wrapper">
      <mat-spinner [diameter]="70"></mat-spinner>
    </div>
    <div *ngIf="!commentsLoading">
      <dx-text-area
        *ngFor="let comment of commentDatasource"
        [disabled]="true"
        [autoResizeEnabled]="true"
        [text]="comment.content"
        [rtlEnabled]="!comment.isOwnComment"
        [label]="comment.createdBy + ' ' + comment.createdAt.toLocaleString()"
        labelMode="static"
        stylingMode="outlined"
        class="comments"
        [class.own-comments]="comment.isOwnComment"
      ></dx-text-area>
    </div>
  </dxi-item>

  <dxi-item title="History" class="data-grid-wrapper">
    <div *ngIf="historyDataLoading" class="history-spinner-wrapper">
      <mat-spinner [diameter]="70"></mat-spinner>
    </div>
    <dx-data-grid
      #dataGrid
      [dataSource]="historyDatasource"
      [showBorders]="false"
      [columnAutoWidth]="true"
      [columnHidingEnabled]="true"
      [allowColumnReordering]="true"
      [allowColumnResizing]="true"
      keyExpr="id"
      *ngIf="!historyDataLoading"
    >
      <dxo-paging [pageSize]="15"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
      <dxo-load-panel [enabled]="true"></dxo-load-panel>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true"></dxo-search-panel>

      <dxi-column
        *ngFor="let column of historyColumns"
        [dataField]="column.fieldName"
        [caption]="column.caption"
        [dataType]="column.dataType"
        [hidingPriority]="column.priority"
        [allowHeaderFiltering]="column.headerFilterEnabled"
        [format]="column.format ?? ''"
        [customizeText]="column.customizeText ?? undefined"
      >
      </dxi-column>
    </dx-data-grid>
  </dxi-item>
</dx-accordion>
