.form-wrapper {
  margin-top: 30px;
  display: flex;
}

form {
  width: 100%
}


.header {
  margin-top: 20px;
}

.save-button {
  background-color: rgb(242, 242, 242);
}

.spinner-wrapper {
  margin-top: 5rem;
  position: absolute;
  width: 92%;
  display: flex;
  justify-content: center;
}

.history-spinner-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.back-button-row {
  display: flex;
  justify-content: flex-end;
}

.accordion {
  margin-top: 2rem;
}

.data-grid-wrapper {
  padding: 0;
}