<h2 class="content-block">{{ title }}</h2>

<dx-data-grid
  #dataGrid
  class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  [allowColumnReordering]="true"
  keyExpr="id"
>
  <dxo-paging [pageSize]="15"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-toolbar>
    <dxi-item location="before" name="groupPanel"></dxi-item>
    <dxi-item location="after" *ngIf="editRoute">
      <div *dxTemplate>
        <dx-button icon="add" hint="Add" (onClick)="onAddClick($event)">
        </dx-button>
      </div>
    </dxi-item>
    <dxi-item location="after" name="columnChooserButton"></dxi-item>
    <dxi-item location="after" name="searchPanel"></dxi-item>
  </dxo-toolbar>

  <dxi-column
    *ngFor="let column of columns"
    [dataField]="column.fieldName"
    [caption]="column.caption"
    [dataType]="column.dataType"
    [hidingPriority]="column.priority"
    [allowHeaderFiltering]="column.headerFilterEnabled"
    [format]="column.format ?? ''"
  >
  </dxi-column>
  <dxi-column type="buttons" *ngIf="editRoute">
    <dxi-button hint="Edit" icon="edit" [onClick]="onEditClick"></dxi-button>
  </dxi-column>
</dx-data-grid>
