.form-wrapper {
  margin-top: 20px;
  display: flex;
}

form {
  width: 100%
}


.header {
  margin-top: 20px;
}

.save-button {
  background-color: rgb(242, 242, 242);
}

.spinner-wrapper {
  margin-top: 5rem;
  position: absolute;
  width: 92%;
  display: flex;
  justify-content: center;
}

.back-button-row {
  display: flex;
  justify-content: flex-end;
}