<ng-container *ngIf="!oobCode">
  <h2 class="content-block">Change Password</h2>
  <div class="content-block">
    <div class="form-content">
      <div class="dx-card responsive-paddings">
        <ng-container *ngTemplateOutlet="changeForm"></ng-container>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="oobCode">
  <ng-container *ngTemplateOutlet="changeForm"></ng-container>
</ng-container>

<ng-template #changeForm>
  <form (submit)="onSubmit($event)">
    <dx-form [formData]="formData" [disabled]="loading">
      <dxi-item
        *ngIf="!oobCode"
        dataField="currentPassword"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'Current Password',
          mode: 'password'
        }"
        class="test-class"
      >
        <dxi-validation-rule
          type="required"
          message="Current Password is required"
        ></dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="password"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'New Password',
          mode: 'password'
        }"
        class="test-class"
      >
        <dxi-validation-rule
          type="required"
          message="Password is required"
        ></dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="confirmedPassword"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'Confirm Password',
          mode: 'password'
        }"
        [baseSize]="200"
      >
        <dxi-validation-rule
          type="required"
          message="Password is required"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="custom"
          message="Passwords do not match"
          [validationCallback]="confirmPassword"
        >
        </dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>

      <dxi-item itemType="button">
        <dxo-button-options
          width="100%"
          type="default"
          [useSubmitBehavior]="true"
          [template]="'changePasswordTemplate'"
        >
        </dxo-button-options>
      </dxi-item>

      <dxi-item *ngIf="oobCode">
        <div class="login-link">
          Return to <a routerLink="/login">Sign In</a>
        </div>
      </dxi-item>

      <ng-container *dxTemplate="let item of 'changePasswordTemplate'">
        <div>
          <span class="dx-button-text">
            <ng-container *ngIf="loading; else notLoading">
              <dx-load-indicator
                width="24px"
                height="24px"
                [visible]="true"
              ></dx-load-indicator>
            </ng-container>
            <ng-template #notLoading>Continue</ng-template>
          </span>
        </div>
      </ng-container>
    </dx-form>
  </form>
</ng-template>
