<h2 class="content-block">Legal Notice</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <p>
      <span><strong>Project Software Engineering</strong> on behalf of</span
      ><br />
      <span>Internationale Hochschule IU GmbH</span><br />
      <span>Juri-Gagarin-Ring 152</span><br />
      <span>D-99084 Erfurt</span><br />
      <span>+49 (0)30 311 988 00</span><br />
      <span>info-fernstudium@iu.org</span>
    </p>
    <p>
      <span><strong>Represented By:</strong></span
      ><br />
      <span
        >Michael Kloiber, Filip Brzezik, Lorenzo Glarner, Michaela
        Andermann</span
      >
    </p>
    <p>
      <span><strong>Responsible for Content:</strong></span
      ><br />
      <span>Michaela Andermann</span>
    </p>
    <p>
      <span><strong>VAT ID:</strong></span
      ><br />
      <span>DE259481187</span>
    </p>
    <p>
      <span><strong>Regulatory Authority:</strong></span
      ><br />
      <span>Amtsgericht Jena</span>
    </p>
    <p>
      This Legal Notice complies with the German laws under § 5 TMG and § 55
      RStV.
    </p>
    <p>
      <span><strong>Liability for Content</strong></span
      ><br />
      <span
        >The contents of our website have been created with the greatest
        possible care. However, we cannot guarantee the contents' accuracy,
        completeness, or topicality. According to Section 7, paragraph 1 of the
        TMG (Telemediengesetz - German Telemedia Act), we as service providers
        are liable for our content on these pages by general laws. However,
        according to Sections 8 to 10 of the TMG, we service providers are not
        obliged to monitor external information transmitted or stored or
        investigate circumstances pointing to illegal activity. Obligations to
        remove or block the use of information under general laws remain
        unaffected. However, a liability in this regard is only possible from
        the moment of knowledge of a specific infringement. Upon notification of
        such violations, we will remove the content immediately.</span
      >
    </p>
    <p>
      <span><strong>Liability for Links</strong></span
      ><br />
      <span
        >Our website contains links to external websites, over whose contents we
        have no control. Therefore, we cannot accept any liability for these
        external contents. The respective provider or operator of the websites
        is always responsible for the contents of the linked pages. The linked
        pages were checked for possible legal violations at the time of linking.
        Illegal contents were not identified at the time of linking. However,
        permanent monitoring of the contents of the linked pages is not
        reasonable without specific indications of a violation. Upon
        notification of violations, we will remove such links immediately.</span
      >
    </p>
    <p>
      <span><strong>Copyright</strong></span
      ><br />
      <span
        >The contents and works on these pages created by the site operator are
        subject to German copyright law. The duplication, processing,
        distribution, and any kind of utilization outside the limits of
        copyright require the written consent of the respective author or
        creator. Downloads and copies of these pages are only permitted for
        private, non-commercial use. In so far as the contents on this site were
        not created by the operator, the copyrights of third parties are
        respected. In particular, third-party content is marked as such. Should
        you become aware of a copyright infringement, please inform us
        accordingly. Upon notification of violations, we will remove such
        contents immediately.</span
      >
    </p>
    <p>
      <span>Last Updated: <strong>October 16, 2023</strong></span>
    </p>
  </div>
</div>
